
@{
    ViewData["Title"] = "Home Page";

}
@if (ViewData["Username"] != null)
{
    <h1>Welcome @ViewData["Username"]
    </h1>
    <a asp-action="Logout">Logout</a>
}
else
{
    <h1>Welcome, please log in!  </h1>
    <a asp-controller="Account" asp-action="Login">Login here!</a>
}

  
